<%= form_for(@travel) do |f| %>
  <% if @travel.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@travel.errors.count, "error") %> prohibited this travel from being saved:</h2>

      <ul>
      <% @travel.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :train_id %><br />
    <%= f.number_field :train_id %>
  </div>
  <div class="field">
    <%= f.label :depart_from_id %><br />
    <%= f.number_field :depart_from_id %>
  </div>
  <div class="field">
    <%= f.label :depart_at %><br />
    <%= f.datetime_select :depart_at %>
  </div>
  <div class="field">
    <%= f.label :arrive_to_id %><br />
    <%= f.number_field :arrive_to_id %>
  </div>
  <div class="field">
    <%= f.label :arrive_at %><br />
    <%= f.datetime_select :arrive_at %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
