<h1>Listing travels</h1>

<table>
  <tr>
    <th>Train</th>
    <th>Depart from</th>
    <th>Depart at</th>
    <th>Arrive to</th>
    <th>Arrive at</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @travels.each do |travel| %>
  <tr>
    <td><%= travel.train_id %></td>
    <td><%= travel.depart_from_id %></td>
    <td><%= travel.depart_at %></td>
    <td><%= travel.arrive_to_id %></td>
    <td><%= travel.arrive_at %></td>
    <td><%= link_to 'Show', travel %></td>
    <td><%= link_to 'Edit', edit_travel_path(travel) %></td>
    <td><%= link_to 'Destroy', travel, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Travel', new_travel_path %>
