<h1>Listing travels</h1>

<table>
  <tr>
    <th>Train</th>
    <th>Depart from</th>
    <th>Depart at</th>
    <th>Arrive to</th>
    <th>Arrive at</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @travels.each do |travel| %>
  <tr>
    <td><%= link_to travel.train.number, travel.train %></td>
    <td><%= link_to travel.depart_from.name, travel.depart_from %></td>
    <td><%= travel.depart_at %></td>
    <td><%= link_to travel.arrive_to.name, travel.arrive_to %></td>
    <td><%= travel.arrive_at %></td>
  </tr>
<% end %>
</table>
