<h1>Listing trains</h1>

<table>
  <tr>
    <th>Company</th>
    <th>Rank</th>
    <th>Name</th>
    <th>Number</th>
    <th>Date</th>
    <th>Clockwise</th>
    <th>Origin</th>
    <th>Destination</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @trains.each do |train| %>
  <tr>
    <td><%= link_to train.company.name, train.company %></td>
    <td><%= train.rank %></td>
    <td><%= train.name %></td>
    <td><%= link_to train.number, train %></td>
    <td><%= train.date %></td>
    <td><%= train.clockwise %></td>
    <td><%= link_to train.origin.name, train.origin %></td>
    <td><%= link_to train.destination.name, train.destination %></td>
  </tr>
<% end %>
</table>
