<p id="notice"><%= notice %></p>

<p>
  <b>Company:</b>
  <%= @train.company.name %>
</p>

<p>
  <b>Rank:</b>
  <%= @train.rank %>
</p>

<p>
  <b>Name:</b>
  <%= @train.name %>
</p>

<p>
  <b>Number:</b>
  <%= @train.number %>
</p>

<p>
  <b>Date:</b>
  <%= @train.date %>
</p>

<p>
  <b>Clockwise:</b>
  <%= @train.clockwise %>
</p>

<p>
  <b>Origin:</b>
  <%= @train.origin.name %>
</p>

<p>
  <b>Destination:</b>
  <%= @train.destination.name %>
</p>

<table>
  <%= render(@train.travels) %>
</table>
